h1 {
  width: 100%;
  text-align: center;


}
h2 {
  width: 50%;
  text-align: center;
  float: left;
}

tr {
  width: 15px;
  height: 5px;
  border: solid 1px black;
}

th {
  width: 15px;
  height: 15px;
  width: 15px;
  height: 15px;
  border: solid 1px black;
}

table {
  margin: auto;
}

#background{
  background:url(bg1.png);
  background-size: 100% 500%;
}

.btnPlay {
  display: block;
  margin: 0 auto;
}

.wrapper {
  text-align:center;
}

.nameBox1 {
  float: left;
  width: 50%;
  text-align: center;
}

.nameBox2 {
  float: left;
  width: 50%;
  text-align: center;
}

.gridSquare {
  height: 50%;
  width: 50%;
}

#btnRetry {

}

#btnExit {

}
